<div class="row">
    <div class="col-1"><a asp-page="/League/Display"
                          asp-route-leagueId="@ViewData[Consts.LeagueId]"
                          asp-route-gameday="@ViewData[Consts.SelectedGameDay]">Übersicht</a></div>
    <div class="col-1"><a asp-page="/League/Table" 
                          asp-route-leagueId="@ViewData[Consts.LeagueId]"
                          asp-route-gameday="@ViewData[Consts.SelectedGameDay]">Tabelle</a></div>
    <div class="col-1"><a asp-page="/League/Gameday" 
                          asp-route-leagueId="@ViewData[Consts.LeagueId]"
                          asp-route-gameday="@ViewData[Consts.SelectedGameDay]">Spieltage</a></div>
</div>
