<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills">
        @foreach (int i in (@ViewData[Consts.GameDays] as List<int>) ?? new List<int>())
        {
            <li class="nav-item">
                <a class="nav-link text-dark @(@ViewData[Consts.SelectedGameDay] as int? == i ? "active" : "")" asp-page="/League/@ViewData[Consts.LeagueSection]" 
                   asp-route-leagueId="@ViewData[Consts.LeagueId]"
                   asp-route-leagueId="@ViewData[Consts.SelectedGameDay]"
                   asp-route-gameDay="@i">@i</a>
            </li>
        }
        </ul>
    </div>
    
</div>