@model RazorApp.Model.PartialGameDayForm
<form method="post">
    <input type="hidden" value="@Model.TeamId" asp-for="TeamId"/>
    <input type="hidden" value="@Model.LeagueId" asp-for="LeagueId"/>
    <input type="hidden" value="@Model.SelectedGameDay" asp-for="SelectedGameDay"/>
    <input type="hidden" value="@Model.MatchId" asp-for="MatchId" />
    <button type="submit" name="action" value="@GameDay.GoalAction.Plus" class="btn-xs btn-primary">+</button>
    <b>@(Model.Goals == null ? "k.A." : Model.Goals)</b>
    <button type="submit" name="action" value="@GameDay.GoalAction.Minus" class="btn-xs btn-primary">-</button>
</form>
