@page "/leagues/{leagueId}/gameday"
@using RazorApp.Model
@model RazorApp.Pages.League.GameDay
<div class="text-center">
    <h1 class="display-4">Tabelle</h1>
    @{
        ViewData[Consts.LeagueSection] = @Consts.LeagueSectionGameDay;
    }
    <partial name="_PartialLeagueHeader" view-data="ViewData"/>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Heim</th>
                    <th scope="col">Auswärts</th>
                    <th scope="col">Tore (heim)</th>
                    <th scope="col">Tore (ausw.)</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var row in @Model.Matches)
            {
                <tr>
                    <td scope="row" class="@(row.GoalsHome > row.GoalsAway ? "bold-cell" : "")"><a class="text-dark" asp-page="/League/Team" asp-route-leagueId="@Model.LeagueId" asp-route-teamId="@row.IdHome">@row.CodeHome</a></td>
                    <td class="@(row.GoalsHome < row.GoalsAway ? "bold-cell" : "")"><a class="text-dark" asp-page="/League/Team" asp-route-leagueId="@Model.LeagueId" asp-route-teamId="@row.IdAway">@row.CodeAway</a></td>
                    <td>
                        @{
                            var modelHome = new PartialGameDayForm
                            {
                                TeamId = @row.IdHome,
                                LeagueId = @Model.LeagueId,
                                SelectedGameDay = @Model.SelectedGameDay,
                                MatchId = @row.Id,
                                Goals = @row.GoalsHome,
                            };
                        }
                            <partial name="_PartialGameDayForm" model="modelHome" />
                    </td>
                    <td>
                        @{
                            var modelAway = new PartialGameDayForm
                            {
                                TeamId = @row.IdAway,
                                LeagueId = @Model.LeagueId,
                                SelectedGameDay = @Model.SelectedGameDay,
                                MatchId = @row.Id,
                                Goals = @row.GoalsAway,
                            };
                        }
                            <partial name="_PartialGameDayForm" model="modelAway" />
                    </td>
                </tr>
            }
        </table>
    </div>
    <partial name="_PartialLeagueFooter" view-data="ViewData"/>
    </div>