@page "/leagues/{leagueId}/gameday"
@using RazorApp.Model
@model RazorApp.Pages.League.GameDay
<style>
    .bold-cell {
        font-weight: bold;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Tabelle</h1>
    @{
        ViewData[Consts.LeagueSection] = @Consts.LeagueSectionGameDay;
    }
    <partial name="_PartialLeagueHeader" view-data="ViewData"/>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Heim</th>
                    <th scope="col">Auswärts</th>
                    <th scope="col">Tore (heim)</th>
                    <th scope="col">Tore (ausw.)</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var row in @Model.Matches)
            {
                <tr>
                    <td scope="row" class="@(row.GoalsHome > row.GoalsAway ? "bold-cell" : "")">@row.Home.Code</td>
                    <td class="@(row.GoalsHome < row.GoalsAway ? "bold-cell" : "")">@row.Away.Code</td>
                    <td>
                        @{
                            var modelHome = new PartialGameDayFormView
                            {
                                TeamId = @row.Home.Id,
                                LeagueId = @Model.LeagueId,
                                SelectedGameDay = @Model.SelectedGameDay,
                                MatchId = @row.Id,
                                Goals = @row.GoalsHome,
                            };
                        }
                            <partial name="_PartialGameDayForm" model="modelHome" />
                    </td>
                    <td>
                        @{
                            var modelAway = new PartialGameDayFormView
                            {
                                TeamId = @row.Away.Id,
                                LeagueId = @Model.LeagueId,
                                SelectedGameDay = @Model.SelectedGameDay,
                                MatchId = @row.Id,
                                Goals = @row.GoalsAway,
                            };
                        }
                            <partial name="_PartialGameDayForm" model="modelAway" />
                    </td>
                </tr>
            }
        </table>
    </div>
    <partial name="_PartialLeagueFooter" view-data="ViewData"/>
    </div>