@page "/leagues/{leagueId}/gameday"
@model RazorApp.Pages.League.GameDay

<div class="text-center">
    <h1 class="display-4">Tabelle</h1>
    @{
        ViewData[Consts.LeagueSection] = @Consts.LeagueSectionGameDay;
    }
    <partial name="_PartialLeagueHeader" view-data="ViewData"/>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Heim</th>
                <th scope="col">Auswärts</th>
                <th scope="col">Tore (heim)</th>
                <th scope="col">Tore (ausw.)</th>
            </tr>
            </thead>
            <tbody>
            <form>
            @foreach (var row in @Model.Matches)
            {
                <tr>
                    <th scope="row">@row.Home.Code</th>
                    <td>@row.Away.Code</td>
                    <td>
                        <button type="submit" name="action" value="plus" class="btn-xs btn-primary">+</button>
                        <b>@row.GoalsHome</b>
                        <button type="submit" name="action" value="minus" class="btn-xs btn-primary">-</button>
                    </td>
                    <td>
                        <button type="submit" name="action" value="plus" class="btn-xs btn-primary">+</button>
                        @row.GoalsAway
                        <button type="submit" name="action" value="minus" class="btn-xs btn-primary">-</button>
                    </td>
                </tr>
            }
            </form>
        </table>
    </div>
    <partial name="_PartialLeagueFooter" view-data="ViewData"/>
    </div>